html, body {
	height: 100%;
	font-family: serif;
	font-size: 14pt;
	background-color: #8fb;
}

h1 {
	font-size: 40pt;
	font-weight: bold;
	text-align: center;
	color: black;
	margin: 24px 0 48px 0;
}

#left {
	width: 30%;
	height: 300px;
	float: left;
	background-color: #6e9;
}

h2 {
	font-size: 20pt;
	color: black;
	margin: 4px;
}

#right {
	width: 70%;
	float: left;
}

#newpost {
	width: 98%;
	float: left;
	margin: 0 1%;
	line-height: 150%;
	border: 2px solid gold;
}

#postdetails {
	width: 40%;
	float: left;
	padding: 6px 0;
}

[for=event], [for=species], [for=date] {
	width: 32%;
	float: left;
	margin-left: 9px;
}

[id=species], [id=event], [id=doe] {
	width: 60%;
	font-family: serif;
	font-size: 14pt;
	float: left;
}

textarea {
	width: 40%;
	float: left;
	margin: 6px 0;
	font-family: serif;
	font-size: 13pt;
}

#savenew {
	width: 19%;
	float: left;
}

[type=submit] {
	width: 80%;
	margin: 9px 0 0 10%;
	padding: 9px 0;
	font-size: 16pt;
}

.entry {
	width: 98%;
	float: left;
	margin: 0 1%;
	margin-top: 24px;
	line-height: 150%;
	border: 2px solid gold;
}

